<nav th:fragment="nav_bar" class="nav">


    <div class="nav_img_left">
        <img class="nav_logo" src="Img/logoRy.svg" alt="logoReparoYa">   
    </div>
    <div class="navbar_rigth"> 
        <ul class="nav_ul">
            <li class="nav_ul_li"> <a class="nav_ul_li_a" href="">Servicios</a></li>
            <li class="nav_ul_li"> <a class="nav_ul_li_a" href="">Contacto</a></li>
            <li class="nav_ul_li"> <a class="nav_ul_li_a" href="">Preguntas Frecuentes</a></li>
            <li class="nav_ul_li"> <a class="nav_ul_li_a_sesion" href="">Iniciar Sesión</a></li>
        </ul>
    </div>

</nav>