<!DOCTYPE html>

<html xlmns:th="https://www.thymeleaf.org/" lang="es">
    <head>
        <title>Registrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/styleregistro.css}"/>
    </head>
    <body>
        <div class="contenedor">
            <div class="contenedor-formulario">
                <div class="imagen-formulario">
                    <div class="texto">
                        <h2>¡Bienvenido!<br></h2>
                    </div>
                </div>
                <div class="cuerpo-formulario">
                    <h2>Registro</h2>
                    <p>¿Ya tienes una cuenta? <a href="Ingreso.html">Inicia sesión</a></p>

                    <form action="/RegistroUser/registro" method="POST">
                        <br>
                        <div class="grupo-formulario">
                            <div class="grupo-input">
                                <label>Nombre completo</label>
                                <input name="fullName" type="text" placeholder="Escriba aqui su nombre">
                            </div>
                            <div class="grupo-input">
                                <label>Email</label>
                                <input name="email" type="email" placeholder="Correo electrónico">
                            </div>
                            <div class="grupo-input">
                                <label>Número teléfono</label>
                                <input name="phone" type="number" placeholder="Ej. 54 9 11 2345-6789">
                            </div>
                            <div class="grupo-input">
                                <label>Contraseña</label>
                                <input name="password" type="password" placeholder="********">
                            </div>
                            <div class="grupo-input">
                                <label>Repetir contraseña</label>
                                <input name="pass2" type="password" placeholder="********">
                            </div>
                            <div class="grupo-input">
                                <label for="localidad">Localidad:</label>
                                <select id="localidad" name="ubicacion">
                                    <option th:each="l: ${localidad}" th:value="${l}" th:text="${#strings.capitalize(l.toString().toLowerCase())}"> </option>
                                </select>
                                <button type="submit"> Registrarse </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
